<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <title>Art Museum Attendance</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" id="in" class="btn btn-success btn-lg btn-block" name="button">In</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="button" id="out" class="btn btn-danger btn-lg btn-block" name="button">Out</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="/attendance/reports">See All Attendance</a>
        </div>
      </div>



    </div>
    <script src="/index.js" charset="utf-8"></script>
  </body>
</html>
