<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="/style.css" charset="utf-8">
    <title>Art Museum Attendance</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-xs-12">
          <h3>Enter your name and location to get started!</h3>
        </div>
      </div>

      <div id="name" class="row text-center">
        <div class="col-xs-12 input-group">
          <input type="text" name="name" placeholder="Enter your name" />
        </div>
      </div>

      <div id="location" class="row text-center">
        <div class="col-xs-12">
          <select name="location">
            <option value="EAST">EAST</option>
            <option value="WEST1">WEST1</option>
            <option value="WEST2">WEST2</option>
            <option value="WEST3">WEST3</option>
          </select>
        </div>
      </div>

      <div class="row text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose a location <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>EAST</li>
            <li>WEST1</li>
            <li>WEST2</li>
            <li>WEST3</li>
          </ul>
        </div>
      </div>


      <div class="row text-center">
        <a href="/attendance/buttons"><button class="btn btn-primary" type="button" name="button">Got it!</button></a>
      </div>


    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/index.js" charset="utf-8"></script>
  </body>
</html>
